<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  <a routerLink="/item-one" routerLinkActive="active">Item One</a>
  <a routerLink="/item-two" routerLinkActive="active">Item Two</a>
  <a
    [routerLink]="['item-with-parameter', id1, id2]"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: false }"
    >Item Three</a
  >
</div>

<div [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>
