/* You can add global styles to this file, and also import other style files */

.container {
  display: flex;
}

.clickable {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.active {
  color: green;
}
